<!DOCTYPE html>
<html><head>
<title>Pokemon</title>
<style>
  #pokemon {
    position:absolute;
    top: 100px;
    left: 100px;

  }
  body {
    background-image: url("images/Map.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
</head>
<body>
<img id="pokemon" src="/images/stick_figure.jpeg" width="20">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/scripts/pokemon.js"></script>
</body>
</html>
